# Deshabilitar caché para archivos HTML, CSS y JS
<IfModule mod_headers.c>
    <FilesMatch "\.(html|htm|js|css)$">
        Header set Cache-Control "no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires 0
    </FilesMatch>
    
    # Para archivos JS y CSS específicamente
    <FilesMatch "\.(js|css)$">
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    </FilesMatch>
</IfModule>
